<% content_for(:head) do %>
  <%= javascript_import_module_tag("reader") %>
<% end %>

<%= reader_container(@readable) do %>
  <div class="absolute inset-0 w-full h-full" id="options">
    <div class="p-4 w-full h-full">
      <div class="relative h-full w-full">
        <%= link_to(root_path, class: "hidden absolute w-6 h-6 top-0 left-0 z-10", data: { role: "next-manga" }) do %>
          <%= image_tag("icons/MobileHamburgerMajor.svg", class: 'icon') %>
        <% end %>
        <%= link_to(root_path, class: "hidden absolute w-6 h-6 top-0 right-0 z-10", data: { role: "next-manga" }) do %>
          <%= image_tag("icons/SearchMajor.svg", class: 'icon') %>
        <% end %>
        <%= link_to(root_path, class: "absolute w-6 h-6 bottom-0 left-0 z-10", data: { role: "next-manga" }) do %>
          <%= image_tag("icons/RefreshMajor.svg", class: 'icon') %>
        <% end %>
        <%= link_to("#",
              class: "absolute w-6 h-6 bottom-0 right-0 z-10",
              data: { role: "toggle", for: "mangadex-details", class: "faded" },
            ) do %>
          <%= image_tag("icons/CircleInformationMajor.svg", class: 'icon') %>
        <% end %>
      </div>
    </div>
    <div class="progress absolute top-0 z-10">
      <div class="progress-bar h-px"></div>
    </div>
    <div id="mangadex-details" class="mangadex-details fadeable z-10 absolute bottom-12 right-4 bg-white">
      <div class="relative flex flex-col gap-3 h-full w-full">
        <h6>Viewing: <span data-display="current-page" class="font-bold">--/--</span></h6>
        <h1>
          <%= link_to(manga_title(@readable.manga), manga_path(@readable.manga.id), target: :_blank) %>
        </h1>
        <div class="tags">
          <%= content_rating_tag(@readable) %>
          <%= publication_demographic_tag(@readable) %>
          <%= year_tag(@readable) %>
        </div>
        <div class="tags">
          <% @readable.manga.tags.each do |tag| %>
            <%= link_to(tag.dig("attributes", "name", "en"), "#", class: "tag", data: { role: "open-tag", value: tag["id"] }) %>
          <% end %>
        </div>
        <p class="description cursor-pointer line-clamp-2" data-role="description">
          <%= unformatted_description(@readable.manga) %>
        </p>
      </div>
    </div>
  </div>
  <div class="absolute w-full h-full overflow-auto" id="wrapper">
    <div id="container">
      <% @readable.page_urls.each_with_index do |page_url, index| %>
        <div class="hidden absolute" data-page="<%= index %>">
          <%= image_tag(page_url, class: 'image') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
