<% content_for(:head) do %>
  <%= javascript_import_module_tag("reader") %>
<% end %>

<%= reader_container(@readable) do %>
  <div class="absolute inset-0 w-full h-full" id="options">
    <div class="p-6 w-full h-full">
      <div class="relative h-full w-full">
        <%= link_to(root_path, class: "absolute w-6 h-6 top-0 left-0 z-10", data: { role: "toggle", for: "menu", class: 'faded' }) do %>
          <%= image_tag("icons/MobileHamburgerMajor.svg", class: 'icon') %>
        <% end %>
        <%= link_to(root_path, class: "hidden absolute w-6 h-6 top-0 right-0 z-10", data: { role: "next-manga" }) do %>
          <%= image_tag("icons/SearchMajor.svg", class: 'icon') %>
        <% end %>
        <%= link_to(root_path, class: "absolute w-6 h-6 bottom-0 left-0 z-10", data: { role: "next-manga" }) do %>
          <%= image_tag("icons/RefreshMajor.svg", class: 'icon') %>
        <% end %>
        <%= link_to("#",
              class: "absolute w-6 h-6 bottom-0 right-0 z-10",
              data: { role: "toggle", for: "mangadex-details", class: "faded" },
            ) do %>
          <%= image_tag("icons/CircleInformationMajor.svg", class: 'icon') %>
        <% end %>
      </div>
    </div>
    <div class="progress absolute top-0 z-10">
      <div class="progress-bar h-px"></div>
    </div>
    <div id="menu" data-open="false" class="menu absolute fadeable faded top-4 left-4 bg-white shadow-lg" style="width: 564px;">
      <div class="header flex gap-1 items-center">
        <%= link_to("#", class: "block w-6 h-6", data: { role: "toggle", for: "menu", class: 'faded' }) do %>
          <%= image_tag("icons/MobileCancelMajor.svg", class: 'icon') %>
        <% end %>
        <h1>Settings</h1>
      </div>
      <div class="flex flex-col gap-3">
        <% if logged_in? %>
          <div class="user-info flex flex-col gap-1">
            <h2>Welcome!</h2>
            <div class="flex flex-col">
              <% if current_mangadex_user.present? %>
                <p>Mangadex: <%= current_mangadex_user.username %></p>
              <% else %>
                <span>Mangadex: <%= link_to("Link account", "#", class: "text-mangadex underline text-sm", data: { role: "toggle", for: "login-mangadex-form" }) %></span>
                <%= form_with(url: login_mangadex_path, method: :post, class: "hidden", id: "login-mangadex-form") do |f| %>
                  <%= f.text_field :username, class: "field username" %>
                  <%= f.password_field :password, class: "field username" %>
                <% end %>
              <% end %>

              <% if current_youranime_user.present? %>
                <p>YourAnime: <%= current_youranime_user.username %></p>
              <% else %>
                <span>YourAnime: <%= link_to("Link account", login_youranime_path, class: "text-green-500 underline text-sm") %></span>
              <% end %>
            
              <%= link_to("Logout", logout_path, data: {"turbo-method": :delete}, class: "text-red-800 underline text-sm") %>
            </div>
          </div>
        <% else %>
          <div class="authentication flex flex-col gap-1">
            <h2>Link your account:</h2>
            <div class="login-options flex flex-col">
              <span>Mangadex: <%= link_to("Log in", "#", class: "text-mangadex underline text-sm", data: { role: "toggle", for: "login-mangadex-form" }) %></span>
              <%= form_with(url: login_mangadex_path, method: :post, class: "hidden", id: "login-mangadex-form") do |f| %>
                  <%= f.text_field :username, class: "field username" %>
                  <%= f.password_field :password, class: "field username" %>
                  <%= f.submit %>
                <% end %>
              <span>YourAnime: <%= link_to("Log in", login_youranime_path, class: "text-green-500 underline text-sm") %></span>
            </div>
          </div>
        <% end %>
        <div class="navigation">
          <h2>Navigation</h2>
          <ul>
            <li>
              <input type="checkbox" id="next-manga-menu-item" name="next-manga-menu-item" value="Bike">
              <label for="next-manga-menu-item"> Go to next manga on last page</label><br>
            </li>
          </ul>
        </div>
        <div class="progress-bar">
          <h2>Progress bar</h2>
          <div class="flex items-center gap-2">
            <span class="flex-shrink">Color</span>
            <div class="flex flex-grow gap-1">
              <button class="h-4 w-4 border border-mangadex"></button>
              <button class="h-4 w-4 border border-blue-600"></button>
              <button class="h-4 w-4 border border-red-700"></button>
              <button class="h-4 w-4 border border-yellow-600"></button>
              <button class="h-4 w-4 border border-gray-500"></button>
              <button class="h-4 w-4 border border-green-500"></button>
              <button class="h-4 w-4 border border-purple-500"></button>
            </div>
          </div>
        </div>
        <div class="reader">
          <% if @readable.long_strip? %>
            <h2>Long-strip reader</h2>
            <ul>
              <li>
                <input type="checkbox" id="scroll" name="scroll" value="Bike">
                <label for="scroll"> Scroll on next page</label><br>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div id="mangadex-details" data-open="false" class="mangadex-details fadeable faded absolute bottom-12 right-4 bg-white shadow-lg">
      <div class="relative flex flex-col gap-3 h-full w-full">
        <h6>Viewing: <span data-display="current-page" class="font-bold">--/--</span></h6>
        <h1>
          <%= link_to(manga_title(@readable.manga), manga_path(@readable.manga.id), class: "text-mangadex underline font-bold", target: :_blank) %>
        </h1>
        <div class="tags">
          <%= content_rating_tag(@readable) %>
          <%= publication_demographic_tag(@readable) %>
          <%= year_tag(@readable) %>
        </div>
        <div class="info">
          <h3>Info</h3>
          <ul class="text-sm">
            <li>
              By:
              <% @readable.by.each do |a| %>
                <%= link_to(a.name, "#", class: 'tag text-gray-600 border-gray-600') %>
              <% end %>
            </li>
            <li>Available since: <%= Date.parse(@readable.chapter.readable_at).strftime("%B %d, %Y") %></li>
          </ul>
        </div>
        <div>
          <h3>Tags</h3>
          <div class="tags">
            <% @readable.manga.tags.each do |tag| %>
              <%= link_to(tag.dig("attributes", "name", "en"), "#", class: "tag", data: { role: "open-tag", value: tag["id"] }) %>
            <% end %>
          </div>
        </div>
        <div class="credits">
          <h5>Credits</h5>
          <ul class="text-xs">
            <li>Chapter title: <%= @readable.chapter.title %></li>
            <% if @readable.scanlation_group.present? %>
              <li>Scanlation group: <%= link_to(@readable.scanlation_group.name, "https://mangadex.org/group/#{@readable.chapter.scanlation_group.id}", target: :_blank) %></li>
            <% else %>
              <li><em>No scanlation group info found for this chapter</em></li>
            <% end %>
            <li>Thank you: <%= link_to("Mangadex.org", "https://mangadex.org", class: "text-mangadex", target: :_blank) %></li>
          </ul>
        </div>
        <div class="read-more mt-4 w-full">
          <%=
            link_to(
              manga_path(@readable.manga.id),
              class: "p-3 text-white bg-mangadex rounded-md focus:ring ring-offset-2 ring-mangadex text-center block w-full",
              target: "_blank",
              data: { role: "dismissable" }
            ) do %>
            More on Mangadex.org
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden flex justify-center items-center">
    <p class="text-white text-center">
      Opening pages --/<%= @readable.chapter.pages %>
    </p>
  </div>
  <div class="absolute w-full h-full overflow-auto" id="wrapper">
    <div id="container">
      <% @readable.page_urls.each_with_index do |page_url, index| %>
        <div class="hidden absolute" data-page="<%= index %>">
          <%= image_tag(serve_chapter_path(id: @readable.chapter.id, page: index + 1), class: 'image', loading: ('lazy' if index > 3)) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
